<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Learn consult</title>


    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" >



    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/site1.css" rel="stylesheet">
    <link href="~/css/site2.css" rel="stylesheet">
    <link href="~/css/site3.css" rel="stylesheet">
    <link href="~/css/site4.css" rel="stylesheet">
    <link href="~/css/StyleSheet.css" rel="stylesheet">


  </head> 

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
         
          <a class="navbar-brand" href="index.html">
            <h2 ><em>L</em>earn Consult</h2>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="nav-item" id="navbarSupportedContent col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>

                     <li class="text-end pe-4 me-4 border-dark search-btn">
                            <div class="search-form">
                                <form method="post" action="index.html">
                                    <div class="form-group">
                                        <div class="d-flex">
                                            <input type="search" class="form-control border-0 rounded-pill" name="search-input" value="" placeholder="Search Here" required=""/>
                                            <button><i class="fa fa-search btn"></i></button>
                                        </div>
                                    </div>
                                </form> 
                            </div> 
              </li> 

              <li class="nav-item ">
                <a class="nav-link" href="index.html">For Instructors
                </a>
              </li> 
              
              <li class="nav-item">
                <a href="../templatemo_546_sixteen_clothing/login.html" class="nav-link" role="button" data-bs-toggle="button">Login</a>
              </li>
              <li class="nav-item">
                <a href="../templatemo_546_sixteen_clothing/signup.html" class="nav-link" role="button" data-bs-toggle="button">Sign Up</a>
              </li>
            </ul>
         
            </div>
          </div>
        
      </nav>
    </header>


       <div class="banner header-text">
      <div class="owl-banner owl-carousel">
      
      </div>
    </div>

<br />





    <div class="how-section1">
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="~/images/product_01.jpg" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-6">
                <h4>Course Name</h4>
             
                <h6 class="text-muted">
                 Course Description
                </h6>

            </div>
        </div>

    </div>



<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link " style="color:black; font-size:large" role="button" data-bs-toggle="button" href="#Info">Info</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link " style="color:black; font-size:large" role="button" data-bs-toggle="button" href="#">Reviews</a>
                </li>
            </ul>

        </div>
    </nav>

        <section id="Info">
     
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="media">
                            <div class="media-body">
                                <h3 class="media-heading">Platform</h3>
                                <p> <a rel="nofollow noopener" href="https://youtube.com">Youtube</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="media">
                            <div class="media-body">
                                <h3 class="media-heading">Language</h3>
                                <p>English </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="media">
                            <div class="media-body">
                                <h3 class="media-heading">Level</h3>
                                <p> Beginner </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="media">
                            <div class="media-body">
                                <h3 class="media-heading">Instructor</h3>
                                <p>Ali </p>
                            </div>
                        </div>
                    </div>
               
            </div>
        </section>
    </div>








   







       <footer class="footer_area section_gap_top">
      <div class="container">
        <div class="row single-footer-widget">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="copy_right_text">
              <p>
                  All Copyrights &copy reserved 
                 </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="left-content">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <!-- Additional Scripts -->
    <script src="~/js/site.js"></script>
    <script src="~/js/site1.js"></script>
    <script src="~/js/site2.js"></script>
    <script src="~/js/site3.js"></script>
    <script src="~/js/site4.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>