@* <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Learn consult</title>


    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">



    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/site1.css" rel="stylesheet">
    <link href="~/css/site2.css" rel="stylesheet">
    <link href="~/css/site3.css" rel="stylesheet">
    <link href="~/css/site4.css" rel="stylesheet">
    <link href="~/css/StyleSheet.css" rel="stylesheet">


</head>


<body>

    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">

                <a class="navbar-brand" href="index.html">
                    <h2><em>L</em>earn Consult</h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="nav-item" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>

                </div>
            </div>

        </nav>
    </header> *@



@{
    Layout = "_Layout";
} 





<style>




    option {
        background: white; /* Option background */
        color: black;
        cursor: pointer;
    }

        option:after {
            background-color: #f0f0f0; /* hover effect for better user experience */
        }

    .custom-select {
        appearance: none; /* this is important to remove default select arrow */
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        font-size: 1rem;
        border: 1px solid gray;
        border-radius: 0.25rem;
        line-height: 1.5;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h12L6 12z" fill="%23FF0000"/></svg>'), linear-gradient(to bottom, #ffffff 0%,#e9ecef 100%);
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 12px 12px;
    }

        .custom-select:focus {
            border-color: red;
            outline: none;
            box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.5);
        }

    .banner-item-1 {
        padding: 50px 0px;
 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    /* Custom styling for the select element */
    /*   .custom-select {
                            appearance: none; /* Removes default browser styling */


    /* Adjust padding for the select wrapper to position the arrow correctly */
    /* .select-wrapper {
                            position: relative;
                        } */
</style>



<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-1">
        </div>
    </div>
</div>

<div class="send-message" style="margin-top:-75px">
    <div class="container">
        <form enctype="multipart/form-data" asp-controller="home" asp-action="signup" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Sign Up</h2>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="contact-form">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input asp-area="FirstName" type="text" class="form-control" placeholder="First Name" required="">
                                </fieldset>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input asp-area="Email" type="email" class="form-control" placeholder="Email" required="">
                                </fieldset>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input asp-area="Password" type="text" class="form-control" placeholder="Password" required="">
                                </fieldset>
                            </div>


                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>

                                    <input asp-area="NumberOfCourses" type="number" class="form-control" placeholder="Number Of Courses" required="">

                                </fieldset>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>

                                    <input asp-area="Picture" type="file" class="form-control" placeholder="Picture" required="">

                                </fieldset>
                            </div>

  

                        </div>

                        @*  </form> *@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form">
                        @*  <form id="contact" action="" method="post"> *@
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">


                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input class="form-control" id="course name" placeholder="Last Name">
                                    </fieldset>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input class="form-control" id="course name" placeholder="Profession">
                                    </fieldset>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input class="form-control" id="course name" placeholder="Confirm Password">
                                    </fieldset>
                                </div>


                        




                               

                            </div>



                            <!-- course picture   region -->

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input class="form-control" placeholder="Phone Number">
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>

                                    <input asp-area="SocialMediaAccounts" type="url" class="form-control " placeholder="Social Media Accounts" required="" />

                                </fieldset>

                            </div>

                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="contact" class="filled-button">Submit </button>
                            </fieldset>

                        </div>
                       </div>
                 </div>
        </form>

    </div>

</div>


