@{
    Layout = "_Layout";
} 

<style>

    option {
        background: white; /* Option background */
        color: black;
        cursor: pointer;
    }

        option:after {
            background-color: #f0f0f0; /* hover effect for better user experience */
        }

    .custom-select {
        appearance: none; /* this is important to remove default select arrow */
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        font-size: 1rem;
        border: 1px solid gray;
        border-radius: 0.25rem;
        line-height: 1.5;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h12L6 12z" fill="%23FF0000"/></svg>'), linear-gradient(to bottom, #ffffff 0%,#e9ecef 100%);
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 12px 12px;
    }

        .custom-select:focus {
            border-color: red;
            outline: none;
            box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.5);
        }

    .banner-item-1 {
        padding: 50px 0px;
 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }


</style>



<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-1">
        </div>
    </div>
</div>

<div class="send-message" style="margin-top:-75px">
    <div class="container">
        <form enctype="multipart/form-data" asp-controller="home" id="addSocialAccounteDynamicForm" asp-action="signup" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Sign Up</h2>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="contact-form">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <labek >First Name</labek>
                                    <input asp-area="FirstName" type="text" class="form-control" placeholder="First Name"  >
                                </fieldset>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <label>Email</label>
                                    <input asp-area="Email" type="email" class="form-control" placeholder="Email"  >
                                </fieldset>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <label>Password</label>
                                    <input asp-area="Password" type="text" class="form-control" placeholder="Password"  >
                                </fieldset>
                            </div>


                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <label>Number of courses</label>
                                    <input asp-area="NumberOfCourses" type="number" class="form-control" placeholder="Number Of Courses"  >

                                </fieldset>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <label>Picture</label>
                                    <input asp-area="Picture" type="file" class="form-control" placeholder="Picture"  >

                                </fieldset>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <label>Additional Info</label>
                                    <textarea asp-area="about" type="text" class="form-control " placeholder="Additional Info"></textarea>

                                </fieldset>

                            </div>

  

                        </div>

                        @*  </form> *@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form">
                        @*  <form id="contact" action="" method="post"> *@
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">


                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>Last Name</label>
                                        <input class="form-control" id="course name" placeholder="Last Name">
                                    </fieldset>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>Profession</label>
                                        <input class="form-control" id="course name" placeholder="Profession">
                                    </fieldset>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>Confirm Passsword</label>
                                        <input class="form-control" id="course name" placeholder="Confirm Password">
                                    </fieldset>
                                </div>


                        




                               

                            </div>



                            <!-- course picture   region -->

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <label>Phone Number</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select class="form-control" id="countryCode">
                                                <option value="+1">+1 (USA)</option>
                                                <option value="+44">+44 (UK)</option>
                                                <option value="+91">+91 (India)</option>
                                                <!-- Add more country codes as needed -->
                                            </select>
                                        </div>
                                        <input class="form-control" placeholder="Phone Number" id="phoneNumber">
                                    </div>
                                </fieldset>
                            </div>
                             <div class="col-lg-12 col-md-12 col-sm-12"> 
                           @*      <fieldset>
                                    <label>Social Media Accounts</label>
                                    <input asp-area="SocialMediaAccounts" type="url" class="form-control " placeholder="Social Media Accounts"   />

                                </fieldset> *@

                                <div id="inputContainer" >
                                    <!-- Render initial input field via partial view -->
                                    <label>Social Media Account</label>
                                    <partial name="_SocialMediaAccountsPartial"></partial>

                                </div>
                                <button type="button" onclick="addInput()" class="btn btn-default">+</button>
                                <textarea   hidden></textarea>


                            </div> 


                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="contact" class="filled-button">Submit </button>
                            </fieldset>

                        </div>
                       </div>
                 </div>
        </div>
             </form>

    </div>

</div>

@section Scripts{
    <script>


        function addInput() {
            fetch('@Url.Action("InputPartial", "instructor")')
                .then(response => response.text())
                .then(html => {
                    document.getElementById('inputContainer').insertAdjacentHTML('beforeend', html);
                });
        }

        document.getElementById('addSocialAccounteDynamicForm').addEventListener('submit', function (event) {
            var inputs = document.querySelectorAll('input[name="Inputdynamically"]');
            var arrayInputs = Array.from(inputs).map(input => input.value).addInput();
  
        });

    </script>
}

