@model AddReportViewModel

@{
	Layout = "_StudentLayout";
}

<style>
    .banner-item-1 {
        padding: 50px 0px;
        background-image: url(../images/slide_01.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>

<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-1">
        </div>
    </div>
</div>


 <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-heading">
                <h2>Review Reports</h2>
            </div>

        </div>

        <div class="col-md-12">
            <div class="contact-form">
                <form id="contact" method="post" asp-controller="report" asp-action="addreport" >
                    <input hidden  asp-for="@Model.ReviewId" />
                    <input hidden  asp-for="@Model.StudentId" />
                    <div class="row">
                        <div class="col-lg-8">
                            <div class=" align-content-center" style="margin:15px;">



                                <textarea class="form-control" placeholder="Your Report"  asp-for="@Model.Message"></textarea>
                                <span class="text-danger" asp-validation-for="Message"></span>

                                
                            </div>
                            </div>
                            </div>

                    <div class="col-lg-12">
                        <fieldset>
                            <button type="submit" id="form-submit" class="filled-button">Send </button>
                        </fieldset>
                    </div>
                            </form>

                  </div>
                  </div>
   </div>
</div> 

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
    }