<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Learn consult</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/site1.css" rel="stylesheet">
    <link href="~/css/site2.css" rel="stylesheet">
    <link href="~/css/site3.css" rel="stylesheet">
    <link href="~/css/site4.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->



    <header class="">
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Instructor" asp-action="index">
                    <h2><em>L</em>earn Consult</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


                        <li class="nav-item w-95">
                            <div class="search-form">
                                <form method="post" action="index.html" class="d-flex w-100">
                                    <div class="d-flex align-items-center w-100 p-2" style="border-radius: 25px; ">
                                        <li class="dropdown me-2">
                                            <a class="nav-link dropdown-toggle" style="border: none; padding: 0; background: none;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                All <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li><a class="dropdown-item" href="#">All</a></li>
                                                <li><a class="dropdown-item" href="#">Category 1</a></li>
                                                <li><a class="dropdown-item" href="#">Category 2</a></li>
                                            </ul>
                                        </li>
                                        <div style="border-left: 1px solid #ccc; height: 30px; margin-right: 10px;"></div>
                                        <input type="text" class="form-control border-0 flex-grow-1" style="box-shadow: none;" placeholder="search">
                                        <a role="button" class="nav-link" style="border: none; padding: 0; background: none; margin: 0 5px;">
                                            <span>&#x2716;</span>
                                        </a>
                                        <div style="border-left: 1px solid #ccc; height: 30px; margin: 0 10px;"></div>
                                        <a role="button" class="nav-link" style="border: none; padding: 0; background: none;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.415l-3.85-3.85zm-5.648.196a5 5 0 1 1 7.071-7.07 5 5 0 0 1-7.07 7.07z" />
                                            </svg>
                                        </a>
                                </div>
                                </form>
                            </div>
                            </li>

                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Instructor" asp-action="MyCourses">
                                My Courses
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="course" asp-action="AddCourse">
                                Add Course
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Signout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Instructor" asp-action="Profile">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>


@*     <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">

                <a class="navbar-brand" asp-controller="instructor" asp-action="index">
                    <h2><em>L</em>earn Consult</h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="nav-item" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <!--   <li class="nav-item dropdown">
                                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                              Category
                                          </a>
                                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                              <li><a class="dropdown-item" asp-controller="home" asp-action="Category">Action</a></li>
                                              <li><a class="dropdown-item" asp-controller="home" asp-action="Category">Another action</a></li>
                                              <li><a class="dropdown-item" asp-controller="home" asp-action="Category">Something else here</a></li>
                                          </ul>
                                      </li>-->

                        <li class="text-end pe-4 me-4 border-dark search-btn">
                            <div class="search-form">
                                <form method="post" action="index.html">
                                    <div class="form-group">
                                        <div class="d-flex">
                                            <input type="search" class="form-control border-0 rounded-pill" name="search-input" value="" placeholder="Search Here" required="" />
                                            <button><i class="fa fa-search btn"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Instructor" asp-action="MyCourses">
                                My Courses
                            </a>
                        </li>



                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Instructor" asp-action="AddCourse">
                                Add Course
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Signout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Instructor" asp-action="Profile">Profile</a>
                        </li>
                    </ul>

                </div>
            </div>

        </nav>
    </header> *@



    <div>
        @RenderBody()


    </div>


    <footer class="footer_area section_gap_top">
        <div class="container">
            <div class="row single-footer-widget">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="copy_right_text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            All Copyrights &copy reserved
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="left-content">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    @*     <script src="~/lib/jquery/dist/jquery.js"></script>
    *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>



    <!-- Additional Scripts -->
    <script src="~/js/site.js"></script>
    <script src="~/js/site1.js"></script>
    <script src="~/js/site2.js"></script>
    <script src="~/js/site3.js"></script>
    <script src="~/js/site4.js"></script>


    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>
    @RenderSection("Scripts", required: false)


</body>

</html>