@model AddCourseViewModel


@{
    SelectList CategoriesList = new SelectList(ViewBag.Categories, "CategoryId", "CategoryName");
}

<!DOCTYPE 

html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Learn consult</title>


    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
   <link href="~/lib/bootstrap/dist/css/bootstrap-select.min.css" rel="stylesheet">
   <link href="~/lib/" rel="stylesheet">
   

    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" rel="stylesheet">-->



    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/site1.css" rel="stylesheet">
    <link href="~/css/site2.css" rel="stylesheet">
    <link href="~/css/site3.css" rel="stylesheet">
    <link href="~/css/site4.css" rel="stylesheet">
    <link href="~/css/StyleSheet.css" rel="stylesheet">

        #subcategoriesList .dropdown-item {
            padding: 10px;
            cursor: pointer; /* make it clear items are clickable */
        }

            #subcategoriesList .dropdown-item:hover {
                background-color: #f0f0f0; /* hover effect for better user experience */
            }



        option {
            background: white; /* Option background */
            color: black;
        }
        .custom-select {
            appearance: none; /* this is important to remove default select arrow */
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 0.375rem 1.75rem 0.375rem 0.75rem;
            font-size: 1rem;
            border: 1px solid gray;
            border-radius: 0.25rem;
            line-height: 1.5;
            background-color: #fff;
            background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h12L6 12z" fill="%23FF0000"/></svg>'), linear-gradient(to bottom, #ffffff 0%,#e9ecef 100%);
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 12px 12px;
        }

</head>


<body>

    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">

                <a class="navbar-brand" href="index.html">
                    <h2><em>L</em>earn Consult</h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="nav-item" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <!--   <li class="nav-item dropdown">
                               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                   Category
                               </a>
                               <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                   <li><a class="dropdown-item" asp-controller="home" asp-action="Category">Action</a></li>
                                   <li><a class="dropdown-item" asp-controller="home" asp-action="Category">Another action</a></li>
                                   <li><a class="dropdown-item" asp-controller="home" asp-action="Category">Something else here</a></li>
                               </ul>
                           </li>-->

                        <li class="text-end pe-4 me-4 border-dark search-btn">
                            <div class="search-form">
                                <form method="post" action="index.html">
                                    <div class="form-group">
                                        <div class="d-flex">
                                            <input type="search" class="form-control border-0 rounded-pill" name="search-input" value="" placeholder="Search Here" required="" />
                                            <button><i class="fa fa-search btn"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Instructor" asp-action="MyCourses">
                                My Courses
                            </a>
                        </li>



                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Instructor" asp-action="AddCourse">
                                Add Course
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link" >Signout</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Instructor" asp-action="Profile" class="nav-link" >Profile</a>
                        </li>
                    </ul>

                </div>
            </div>

        </nav>
    </header>


    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
        </div>
    </div>

   


    <div class="send-message">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Course Info</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="course name" type="text" class="form-control" id="course name" placeholder="course name" required="">
                                    </fieldset>
                                </div>

                               @*  <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <select asp-for="SubcategoryId"class="form-control selectpicker" id="subcategorySelect">
                                            <option value="">Select a Subcategory</option>
                                            <option value="">Select a Subcategory</option>
                                            <option value="">Select a Subcategory</option>
                                             @foreach (var subcategory in Model.Subcategories)
                                            {
                                                <option value="@subcategory.Id">@subcategory.Name</option>
                                            } 
                                        </select>
                                    </fieldset>

                                </div> *@








                                <!-- category dropdown region -->
                               <fieldset>
                                    <div class="form-group mb-4">
        <select id="categoriesDropdown" asp-for="CategoryId" asp-items="CategoriesList" onchange="updateSubcategories(this.value)" style="border: 1px solid #e9ecef; border-radius: 0.25rem;" class="form-select mr-sm-2">
            <option value="-1">Select a Category &#9660;</option>
                                        </select>
                                    </div>
                                    </fieldset>
                                <!-- subcategory dropdown region -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <div class="dropdown  form-group mb-4 "style=" border: 1px solid #e9ecef; border-radius: 0.25rem;" class="form-select mr-sm-2">
            <a class="dropdown-toggle form-control" id="dropdownMenuLink" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select a Subcategory
                                    </a>
            <ul id="subcategoriesList" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <!-- Dynamic subcategory items will be added here -->
                                    </ul>
        </div>
                                        <input type="hidden" asp-for="SubcategoryId" id="selectedSubcategoryId"  />
        
    </fieldset>
 </div>




                                <!-- language dropdown region -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <div class="form-group mb-4">
                                        <select id="languageDropdown" asp-for="LanguageId" asp-items="LanguageList"  style="border: 1px solid #e9ecef; border-radius: 0.25rem;" class="form-select mr-sm-2">
                                            <option value="-1">Select Course Language &#9660;</option>
                                        </select>
                                    </div>
                                </fieldset>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset >
                                        
                                        <input name="last update" type="date" class="form-control" id="last update" placeholder="last update" required="">
                                        
                                    </fieldset>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                <ul class=" dropdown">
                                    <a class="dropdown-toggle form-control" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Platform
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </ul>
                                </fieldset>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="link " type="url" class="form-control" id="link " placeholder="link " required="">
                                    </fieldset>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="instructor name" type="text" class="form-control" id="instructor name" placeholder="instructor name" required="">
                                    </fieldset>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">


                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <fieldset>
                                            <input name="course description" type="text" class="form-control" id="course description" placeholder="course description" required="">
                                        </fieldset>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <fieldset>
                                            <input name="topics covered" type="text" class="form-control" id="topics covered" placeholder="topics covered" required="">
                                        </fieldset>
                                    </div>


                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>

                                        <ul class=" dropdown">
                                            <a class="dropdown-toggle form-control" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Level
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </ul>

                                    </fieldset>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                   <fieldset>

                                        <ul class=" dropdown">
                                            <a class="dropdown-toggle form-control" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Price Status
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </ul>

                                   </fieldset>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="course duration" type="time" class="form-control" id="course duration " placeholder="course duration" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="video length average" type="time" class="form-control" id="video length average" placeholder="video length average" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="course profile" type="file" class="form-control" id="course profile" placeholder="course profile" required="">
                                    </fieldset>
                                </div>
                            
                            </div>
                        </form>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="contact" class="filled-button">Submit </button>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer_area section_gap_top">
                <div class="container">
                    <div class="row single-footer-widget">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copy_right_text">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    All Copyrights &copy reserved
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="left-content">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>

    </div>



















<!-- Bootstrap core JavaScript -->
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap-select.min.js"></script>

<!-- Additional Scripts -->
<script src="~/js/site.js"></script>
<script src="~/js/site1.js"></script>
<script src="~/js/site2.js"></script>
<script src="~/js/site3.js"></script>
<script src="~/js/site4.js"></script>
    <script>
        $(document).ready(function () {
            // Handle subcategory selection and update the display and hidden input
            $(document).on('click', '#subcategoriesList .dropdown-item', function () {
                var selectedText = $(this).text();
                var selectedValue = $(this).data('value');

                $('#dropdownMenuLink').text(selectedText); // Update dropdown link text
                $('#selectedSubcategoryId').val(selectedValue); // Update hidden input value
            });
        });

        function updateSubcategories(categoryId) {
            // Always clear the current subcategories and the selected subcategory display and value
            $('#subcategoriesList').empty();
            $('#dropdownMenuLink').text('Select a Subcategory'); // Reset the button text
            $('#selectedSubcategoryId').val(''); // Clear the hidden input value

            if (categoryId && categoryId != "-1") { // Check if a valid category is selected
                $.ajax({
                    url: '@Url.Action("GetSubcategories", "Instructor")', // Ensure this matches your MVC routing setup
                    type: 'GET',
                    dataType: 'json',
                    data: { categoryId: categoryId },
                    success: function (data) {
                        if (data.length > 0) {
                            $.each(data, function (i, item) {
                                $('<li>')
                                    .addClass('dropdown-item')
                                    .data('value', item.subId)
                                    .text(item.subName)
                                    .appendTo('#subcategoriesList');
                            });
                        } else {
                            // Optionally, handle when there are no subcategories
                            $('<li>')
                                .addClass('dropdown-item')
                                .text('No subcategories available')
                                .appendTo('#subcategoriesList');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("An error occurred: " + error);
                        // Optionally, update UI to reflect the error state
                        $('#dropdownMenuLink').text('Error loading subcategories');
                    }
                });
            } else {
                // If the selected category ID is the default or invalid, clear and show default message
                $('<li>')
                    .addClass('dropdown-item')
                    .text('Select a category first')
                    .appendTo('#subcategoriesList');
            }
        }
    </script>
   



   @*  <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
<script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
        if (!cleared[t.id]) {                      // function makes it static and global
            cleared[t.id] = 1;  // you could use true and false, but that's more typing
            t.value = '';         // with more chance of typos
            t.style.color = '#fff';
        }
    }
</script>


  </body>

</html>