<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Learn consult</title>


    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">



    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/site1.css" rel="stylesheet">
    <link href="~/css/site2.css" rel="stylesheet">
    <link href="~/css/site3.css" rel="stylesheet">
    <link href="~/css/site4.css" rel="stylesheet">
    <link href="~/css/StyleSheet.css" rel="stylesheet">



</head>


<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">

                <a class="navbar-brand" href="index.html">
                    <h2><em>L</em>earn Consult</h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="nav-item" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Category
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="home" asp-action="Category">Action</a></li>
                                <li><a class="dropdown-item" asp-controller="home" asp-action="Category">Another action</a></li>
                                <li><a class="dropdown-item" asp-controller="home" asp-action="Category">Something else here</a></li>
                            </ul>
                        </li>

                        <li class="text-end pe-4 me-4 border-dark search-btn">
                            <div class="search-form">
                                <form method="post" action="index.html">
                                    <div class="form-group">
                                        <div class="d-flex">
                                            <input type="search" class="form-control border-0 rounded-pill" name="search-input" value="" placeholder="Search Here" required="" />
                                            <button><i class="fa fa-search btn"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>



                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Signout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="student" asp-action="Profile">Profile</a>
                        </li>
                    </ul>

                </div>
            </div>

        </nav>
    </header>
    <!-- Page Content -->
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
        </div>
    </div>




    <div class="send-message">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Review course</h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="contact-form">
                        <form id="contact" method="post" asp-action="review">
                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="review" rows="6" class="form-control" id="review" placeholder="Your Review" required=""></textarea>
                                    </fieldset>
                                </div>


                                <!-- <div class="col-12">
                                  

                                  
                                        <ul class="pagination " style="border-radius:50%; border:none;">
                                            <li class="page-item justify-content-start"><h5>Ease of language</h5></li>
                                            <li class="page-item "><a class="page-link" href="#">1</a></li>
                                            <li class="page-item "><a class="page-link" href="#">2</a></li>
                                            <li class="page-item "><a class="page-link" href="#">3</a></li>
                                            <li class="page-item "><a class="page-link" href="#">4</a></li>
                                            <li class="page-item "><a class="page-link" href="#">5</a></li>
                                            <li class="page-item "><a class="page-link" href="#">6</a></li>
                                            <li class="page-item "><a class="page-link" href="#">7</a></li>
                                            <li class="page-item "><a class="page-link" href="#">8</a></li>
                                            <li class="page-item "><a class="page-link" href="#">9</a></li>
                                            <li class="page-item "><a class="page-link" href="#">10</a></li>

                                        </ul>


                                    <div class="col-md-12">
                                        <h5>Ease of language</h5>
                                        <ul class="pages">
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                        </ul>
                                    </div>
                                  

                                </div>
                                <div class="col-12">
                                    <div lass="col-4">
                                        <h5>Ease of explaination</h5>
                                    </div>


                                    <ul class="pagination justify-content-end" style="border:none">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                                        <li class="page-item"><a class="page-link" href="#">8</a></li>
                                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                                        <li class="page-item"><a class="page-link" href="#">10</a></li>

                                    </ul>


                                </div>
                                <div class="col-12">
                                    <div lass="col-4">
                                        <h5>Quality of sound</h5>
                                    </div>


                                    <ul class="pagination justify-content-end" style="border:none">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                                        <li class="page-item"><a class="page-link" href="#">8</a></li>
                                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                                        <li class="page-item"><a class="page-link" href="#">10</a></li>

                                    </ul>


                                </div>
                                <div class="col-12">
                                    <div lass="col-4">
                                        <h5>Practical example</h5>
                                    </div>


                                    <ul class="pagination justify-content-end" style="border:none">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                                        <li class="page-item"><a class="page-link" href="#">8</a></li>
                                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                                        <li class="page-item"><a class="page-link" href="#">10</a></li>

                                    </ul>


                                </div>
                                 
                                  <ul class="pagination justify-content-right">
                                    <h5>Ease of explaination</h5>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                                </ul>
                                <ul class="pagination justify-content-right">
                                    <h5>Quality of sound</h5>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                                </ul>
                                <ul class="pagination justify-content-right">
                                    <h5>Practical example </h5>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                                </ul>-->
                               

                            

                                <div class="section-heading">
                                    <h2>Standard Questions</h2>
                                </div>


                                <div class="choices">

                                    <ul class="choice" style="border:none">
                                        <li> <h5>Ease of language</h5> </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">6</a></li>
                                        <li><a href="#">7</a></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li><a href="#">10</a></li>

                                    </ul>


                                    <ul class="choice" style="border:none">
                                        <li> <h5>Ease of explaination</h5> </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">6</a></li>
                                        <li><a href="#">7</a></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li><a href="#">10</a></li>

                                    </ul>



                                    <ul class="choice" style="border:none">
                                        <li> <h5>Quality of sound</h5> </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">6</a></li>
                                        <li><a href="#">7</a></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li><a href="#">10</a></li>

                                    </ul>


                                    <ul class="choice" style="border:none">
                                        <li>  <h5>Practical example</h5> </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">6</a></li>
                                        <li><a href="#">7</a></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li><a href="#">10</a></li>

                                    </ul>


                                </div>
                        </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="filled-button">Send </button>
                                </fieldset>
                            </div>
                        </form>
                    </div>


                </div>




            </div>
            <footer class="footer_area section_gap_top">
                <div class="container-fluid">
                    <div class="row single-footer-widget">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copy_right_text">
                                <p>
                                   
                                    All Copyrights &copy reserved
                                   
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="left-content">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    </footer>
        </div>

    </div>




    
    <!-- END SEARCH RESULT -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <!-- Additional Scripts -->
    <script src="~/js/site.js"></script>
    <script src="~/js/site1.js"></script>
    <script src="~/js/site2.js"></script>
    <script src="~/js/site3.js"></script>
    <script src="~/js/site4.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $('.btn').click(function () {
            $('.collapse-content').toggle();
        });
    </script>
</body>

</html>
