

<br />
<br />
<br />
<br />
<br />


<div class="text-center">

	<h1 class="text-danger">Access Denied</h1>
	<h6 class="text-danger"> You do not have permission to view this resuorce</h6>
	<img src="~/images/accessDenied.jpeg" alt="Access Denied"  style="height:400px;width:400px;"/>

</div>